@import url(http://fonts.googleapis.com/css?family=Questrial|Voltaire);

body {
	background-color: #EEE;
	font-family: "Questrial";
	color: #241;
}

div#main {
	position:relative;
	width: 35em;
	padding: 1em;
	margin: 0 auto;
	border-radius: 0.8em;
	border: 1px solid #DDD;
	background-color: white;
	font-size: 1.2em;
	left: -3em;
}

div#title {
	font-family: 'Voltaire';
	font-size: 3em;
	margin-bottom: .75em;
	color: #583;
	text-align:center;
}

div.post-date {
	font-size:.8em;
	color:black;
}

div.post-title {
	font-family: 'Voltaire';
	font-size: 1.8em;
	color: #7A5;
}

a:link, a:visited{
	color: #5AA;
	text-decoration: none;
}

a:hover { color: #7AA; }
a:active { color: #7FA; }


img[alt="floatright"] { 
	float:right;
	margin: .5em;
	margin-right: 0;
}

img[alt="floatleft"] { 
	float:left; 
	margin: .5em;
	margin-left: 0;
}


h1, h2, h3, h4, h5, h6 { 
	font-family: 'Voltaire'; 
	font-weight: normal;
	margin-top: 1.5em;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.15em; }
h5 { font-size: 1.075em; }
h6 { font-size: 1em; }


div#content {
	line-height: 180%;
}

div#posts {
	width: 13em;
	position: absolute;
	top: 10em;
	right: -13.5em;
	border: 1px solid #DDD;
	background-color: white;
	border-radius: 0 1em 1em 0;
	font-size: .9em;
	padding-left: .5em;
	padding-top: .5em;
}


div.post {

}

code {
	white-space: pre;
	padding: .25em;
	border: 1px dashed #CCC;
	background-color: white;
	color: black;
	display: inline-block;
	line-height: 1.2em;
	font-size: .75em;
	overflow-x: auto;
	overflow-y: auto;
	max-width: 57em;

}